@import "~assets/_common";

.introduce {
  margin-bottom: 3rem;

  h2, .total {
    text-align: center;
    color: map_get($theme-colors, 'secondary');

  }
}
.product-container {
  .product {
    margin-bottom: 2rem;

    @include media-laptop {
      display: flex;

      .info {
        padding: 0 1rem;
      }
    }

    .price {
      font-weight: bold;
    }

    .avatar {
      text-align: center;
      margin-bottom: 1rem;

      img {
        width: 100%;
        max-width: rem(400px);
      }

      @include media-laptop {
        margin-bottom: 0;

        img {
          width: rem(400px);
        }
      }
    }
    .checkout-container {
      margin-bottom: 1rem;
    }
  }
}
