@import "~assets/_common";

.owl-carousel {
  position: absolute;
  height: calc(100% - 56px);
  width: 100%;
}
.item {
  height: 100%;
  position: relative;

  .desc-wrapper {
    padding: 2rem;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 80%;
    height: 17.4rem;

    background-color: #ffe4c4;
    transform: translateX(-50%);

    @include media-laptop {
      top: 50%;
      left: 3rem;
      width: 25%;
      transform: translate(0, -50%);
    }
  }
  .desc {
    height: 100%;
    overflow: hidden;
  }
  img {
    height: 100%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

:host::ng-deep {
  .owl-stage-outer {
    height: calc(100% - 3rem);
  }
  .owl-stage, .owl-item {
    height: 100%;
  }
}
