<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand logo" routerLink="/home">AnVyShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" [class.active]="item.isActive" *ngFor="let item of navItems">
        <a class="nav-link" [routerLink]="item.path">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div class="cart-holder" (click)="goCheckout()">
    <img src="assets/icons/cart2.svg" alt="" width="32" height="32" aria-hidden="true" focusable="false" role="img">
    <span class="badge badge-light">{{totalCheckoutItem | checkoutBadge}}</span>
  </div>
</nav>

